<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<table class="table">
    <thead>
      <tr class="success">
        <th>순번</th>
        <th>병원명</th>
        <th>주소</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>       -->
      {% for c in list %}
      <tr class="warning">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.address}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- {% for c in list %}
<p>{{c.id}} {{c.name}} {{c.address}} {{c.sido}} {{c.tel}} {{c.medical}} {{c.room}}   </p>
{% endfor %} -->

